@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
}

@layer base {
  h1 {
    @apply text-6xl font-bold mt-4 mb-4;
  }
  h2 {
    @apply text-5xl font-bold mt-4 mb-4;
  }
  h3 {
    @apply text-4xl font-bold mt-2 mb-2;
  }
  h4 {
    @apply text-3xl font-bold mt-2 mb-2;
  }
  h5 {
    @apply text-2xl font-bold mt-2 mb-2;
  }
  h6 {
    @apply text-lg font-bold;
  }
  p {
    @apply text-lg leading-normal;
  }
}

@layer components {
  .btn {
    @apply transition duration-300 ease-in-out hover:bg-opacity-90 hover:bg-white;
  }
}

.mouse-scroll-cont {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #444;
  border-radius: 60px;
  position: relative;
  overflow: hidden;
}

.mouse::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #444;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

/* Background exp */
.text-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container h1 {
  margin: 0;
  font-size: 150px;
  color: rgba(225, 225, 225, 0.01);
  background-image: url("/images/francis_peterson.jpeg");
  background-repeat: repeat;
  background-clip: text;
  /* scale image to be larger */
  background-size: 1000px;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .text-container h1 {
    font-size: 90px;
  }
}

@keyframes animate {
  0%,
  100% {
    background-position: left center;
  }
  25% {
    background-position: right center;
  }
  50% {
    background-position: left top;
  }
  75% {
    background-position: right top;
  }
}

* {
  scroll-margin-top: 90px;
}
